<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Blog Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Blog Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">All Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Blog Search -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for blogs" aria-label="Search"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog Posts -->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#">Blog Post 1</a>
                    <hr/>
                    <span class="float-right">Date: December 1, 2023</span>
                </li>
                <li class="list-group-item">
                    <a href="#">Blog Post 2</a>
                    <hr/>
                    <span class="float-right">Date: December 5, 2023</span>

                </li>
                <!-- Add more blog posts as needed -->
            </ul>
        </div>
    </div>
</div>


<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <ul class="list-group">
                <li th:each="blogPost : ${blogPosts}" class="list-group-item">
                    <a th:href="@{'/blogs/' + ${blogPost.title}}" th:text="${blogPost.title}"></a>
                    <hr />
                    <span class="float-right" th:text="${'Date: ' + ${blogPost.date}}"></span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="mt-5 text-center">
    <p>&copy; 2023 Blog Application. All rights reserved.</p>
</footer>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"
        integrity="sha384-GLhlTQ8iKt6qt7t21iZBA/bF5sAwS2653wr/jt9S8OZJ5/Jr59S6EGg7L2FQh"
        crossorigin="anonymous"></script>
</body>

</html>
